### Weather VS incidents

This notebook compares the frequency of accident when it rains vs when it does not.

In [1]:
%matplotlib inline
import matplotlib
import numpy as np
import matplotlib.pyplot as plt

import pandas as pd
pd.options.display.float_format = '{:,.4f}'.format
import json

In [2]:
import psycopg2

In [3]:
PATH_CONFIG = '/mnt/data/hnisar/db_config.json'

In [4]:
with open(PATH_CONFIG) as f:
#     print(f.read())
    config = json.load(f)

In [5]:
user = config['user']
password = config['password']
db = config['db']
host = config['host']
port = config['port']

In [6]:
conn_str = "host={} dbname={} user={} password={}".format(host, db, user, password)

In [7]:
conn = psycopg2.connect(conn_str)

### ACCIDENTS AROUND STATION#240

In [8]:
station= 240
sql_ong = f"""
    with ong as (
	with distinct_hecto as (select distinct key, weerstation from rws_raw.hectopunten)
		select * from rws_raw.ongevallen as o
		inner join distinct_hecto on o.key = distinct_hecto.key
		where  distinct_hecto.weerstation::integer = {station})
	
	select ong.datetime, k.*  from rws_raw.knmi_data as k
	left join ong on  extract(year from ong.datetime) = extract(year from k."YYYYMMDD" )
	                   and extract(month from ong.datetime) = extract(month from k."YYYYMMDD" )
	                   and extract(day from ong.datetime) = extract(day from k."YYYYMMDD" )
	                   and extract(hour from ong.datetime) = k."HH"
	where k."STN"={station};"""
df_ong = pd.read_sql(sql_ong, con=conn)

In [9]:
df_ong.shape

(62978, 26)

In [10]:
df_ong['TDate'] = pd.to_datetime(df_ong["YYYYMMDD"])
df_ong['TDate'] += pd.to_timedelta(df_ong["HH"], unit='h')

In [11]:
df_ong.set_index('TDate')

,datetime,STN,YYYYMMDD,HH,DD,FH,FF,FX,T,T10,...,VV,N,U,WW,IX,M,R,S,O,Y
TDate,,,,,,,,,,,,,,,,,,,,,
2012-01-01 01:00:00,NaT,240.0000,2012-01-01,1.0000,220.0000,60.0000,70.0000,90.0000,102.0000,nan,...,18.0000,8.0000,98.0000,81.0000,7.0000,True,True,False,False,False
2012-01-01 02:00:00,NaT,240.0000,2012-01-01,2.0000,230.0000,60.0000,70.0000,100.0000,106.0000,nan,...,47.0000,7.0000,97.0000,51.0000,7.0000,False,True,False,False,False
2012-01-01 03:00:00,2012-01-01 03:49:00,240.0000,2012-01-01,3.0000,230.0000,70.0000,80.0000,100.0000,111.0000,nan,...,60.0000,8.0000,96.0000,51.0000,7.0000,False,True,False,False,False
2012-01-01 04:00:00,NaT,240.0000,2012-01-01,4.0000,240.0000,90.0000,90.0000,130.0000,109.0000,nan,...,34.0000,8.0000,98.0000,53.0000,7.0000,False,True,False,False,False
2012-01-01 05:00:00,NaT,240.0000,2012-01-01,5.0000,240.0000,90.0000,90.0000,130.0000,112.0000,nan,...,65.0000,8.0000,97.0000,81.0000,7.0000,False,True,False,False,False
2012-01-01 06:00:00,2012-01-01 06:51:00,240.0000,2012-01-01,6.0000,240.0000,90.0000,90.0000,120.0000,115.0000,98.0000,...,65.0000,8.0000,95.0000,23.0000,7.0000,False,True,False,False,False
2012-01-01 07:00:00,NaT,240.0000,2012-01-01,7.0000,240.0000,90.0000,90.0000,130.0000,112.0000,nan,...,65.0000,8.0000,96.0000,nan,5.0000,False,False,False,False,False
2012-01-01 08:00:00,NaT,240.0000,2012-01-01,8.0000,230.0000,90.0000,80.0000,130.0000,109.0000,nan,...,65.0000,8.0000,97.0000,nan,5.0000,False,False,False,False,False
2012-01-01 09:00:00,NaT,240.0000,2012-01-01,9.0000,230.0000,80.0000,80.0000,120.0000,112.0000,nan,...,65.0000,6.0000,94.0000,nan,5.0000,False,False,False,False,False
2012-01-01 10:00:00,NaT,240.0000,2012-01-01,10.0000,220.0000,70.0000,60.0000,90.0000,112.0000,nan,...,65.0000,8.0000,94.0000,nan,5.0000,False,False,False,False,False
2012-01-01 11:00:00,NaT,240.0000,2012-01-01,11.0000,220.0000,60.0000,80.0000,100.0000,115.0000,nan,...,65.0000,7.0000,95.0000,nan,5.0000,False,False,False,False,False
2012-01-01 12:00:00,2012-01-01 12:27:00,240.0000,2012-01-01,12.0000,230.0000,80.0000,100.0000,130.0000,118.0000,104.0000,...,65.0000,8.0000,94.0000,23.0000,7.0000,False,True,False,False,False
2012-01-01 13:00:00,NaT,240.0000,2012-01-01,13.0000,230.0000,90.0000,80.0000,130.0000,120.0000,nan,...,65.0000,8.0000,92.0000,nan,5.0000,False,False,False,False,False
2012-01-01 14:00:00,NaT,240.0000,2012-01-01,14.0000,220.0000,90.0000,90.0000,120.0000,122.0000,nan,...,65.0000,8.0000,91.0000,81.0000,7.0000,False,True,False,False,False
2012-01-01 15:00:00,NaT,240.0000,2012-01-01,15.0000,210.0000,70.0000,60.0000,100.0000,118.0000,nan,...,65.0000,8.0000,94.0000,23.0000,7.0000,False,True,False,False,False
2012-01-01 16:00:00,2012-01-01 16:28:00,240.0000,2012-01-01,16.0000,190.0000,50.0000,40.0000,90.0000,116.0000,nan,...,39.0000,8.0000,98.0000,82.0000,7.0000,False,True,False,False,False
2012-01-01 16:00:00,2012-01-01 16:11:00,240.0000,2012-01-01,16.0000,190.0000,50.0000,40.0000,90.0000,116.0000,nan,...,39.0000,8.0000,98.0000,82.0000,7.0000,False,True,False,False,False
2012-01-01 17:00:00,NaT,240.0000,2012-01-01,17.0000,190.0000,50.0000,70.0000,100.0000,121.0000,nan,...,57.0000,8.0000,98.0000,62.0000,7.0000,False,True,False,False,False
2012-01-01 18:00:00,NaT,240.0000,2012-01-01,18.0000,200.0000,80.0000,90.0000,130.0000,124.0000,113.0000,...,58.0000,8.0000,97.0000,62.0000,7.0000,False,True,False,False,False
2012-01-01 19:00:00,NaT,240.0000,2012-01-01,19.0000,200.0000,90.0000,90.0000,140.0000,125.0000,nan,...,58.0000,8.0000,96.0000,62.0000,7.0000,False,True,False,False,False
2012-01-01 20:00:00,NaT,240.0000,2012-01-01,20.0000,210.0000,110.0000,120.0000,170.0000,126.0000,nan,...,60.0000,8.0000,95.0000,61.0000,7.0000,False,True,False,False,False
2012-01-01 21:00:00,NaT,240.0000,2012-01-01,21.0000,230.0000,80.0000,60.0000,160.0000,108.0000,nan,...,61.0000,8.0000,96.0000,61.0000,7.0000,False,True,False,False,False
2012-01-01 22:00:00,NaT,240.0000,2012-01-01,22.0000,260.0000,80.0000,70.0000,130.0000,101.0000,nan,...,65.0000,8.0000,95.0000,57.0000,7.0000,False,True,False,False,False
2012-01-01 23:00:00,NaT,240.0000,2012-01-01,23.0000,250.0000,60.0000,60.0000,100.0000,99.0000,nan,...,65.0000,8.0000,93.0000,57.0000,7.0000,False,True,False,False,False
2012-01-02 00:00:00,NaT,240.0000,2012-01-01,24.0000,250.0000,80.0000,80.0000,120.0000,100.0000,94.0000,...,65.0000,8.0000,93.0000,23.0000,7.0000,False,True,False,False,False
2012-01-02 01:00:00,NaT,240.0000,2012-01-02,1.0000,240.0000,80.0000,80.0000,110.0000,100.0000,nan,...,65.0000,8.0000,95.0000,nan,5.0000,False,False,False,False,False
2012-01-02 02:00:00,NaT,240.0000,2012-01-02,2.0000,250.0000,80.0000,80.0000,120.0000,99.0000,nan,...,65.0000,8.0000,92.0000,nan,5.0000,False,False,False,False,False
2012-01-02 03:00:00,NaT,240.0000,2012-01-02,3.0000,250.0000,70.0000,70.0000,110.0000,93.0000,nan,...,65.0000,8.0000,92.0000,nan,5.0000,False,False,False,False,False
2012-01-02 04:00:00,NaT,240.0000,2012-01-02,4.0000,250.0000,70.0000,70.0000,100.0000,89.0000,nan,...,67.0000,7.0000,90.0000,nan,5.0000,False,False,False,False,False
2012-01-02 05:00:00,2012-01-02 05:52:00,240.0000,2012-01-02,5.0000,250.0000,60.0000,50.0000,100.0000,84.0000,nan,...,66.0000,8.0000,90.0000,nan,5.0000,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-04-15 19:00:00,NaT,240.0000,2018-04-15,19.0000,170.0000,10.0000,10.0000,20.0000,134.0000,nan,...,60.0000,8.0000,89.0000,nan,5.0000,False,False,False,False,False
2018-04-15 20:00:00,NaT,240.0000,2018-04-15,20.0000,140.0000,10.0000,20.0000,20.0000,126.0000,nan,...,57.0000,8.0000,94.0000,10.0000,7.0000,False,False,False,False,False
2018-04-15 21:00:00,NaT,240.0000,2018-04-15,21.0000,140.0000,10.0000,20.0000,30.0000,123.0000,nan,...,61.0000,8.0000,93.0000,57.0000,7.0000,False,True,False,False,False
2018-04-15 22:00:00,NaT,240.0000,2018-04-15,22.0000,170.0000,30.0000,30.0000,40.0000,131.0000,nan,...,65.0000,8.0000,88.0000,81.0000,7.0000,False,True,False,False,False
2018-04-15 23:00:00,NaT,240.0000,2018-04-15,23.0000,180.0000,30.0000,40.0000,50.0000,128.0000,nan,...,67.0000,8.0000,86.0000,23.0000,7.0000,False,True,False,False,False
2018-04-16 00:00:00,NaT,240.0000,2018-04-15,24.0000,260.0000,50.0000,40.0000,90.0000,118.0000,109.0000,...,70.0000,8.0000,86.0000,2.0000,7.0000,False,False,False,False,False
2018-04-16 01:00:00,NaT,240.0000,2018-04-16,1.0000,180.0000,30.0000,20.0000,60.0000,111.0000,nan,...,70.0000,8.0000,89.0000,23.0000,7.0000,False,True,False,False,False
2018-04-16 02:00:00,NaT,240.0000,2018-04-16,2.0000,180.0000,20.0000,20.0000,40.0000,107.0000,nan,...,63.0000,7.0000,94.0000,23.0000,7.0000,False,True,False,False,False
2018-04-16 03:00:00,NaT,240.0000,2018-04-16,3.0000,190.0000,20.0000,30.0000,40.0000,93.0000,nan,...,58.0000,0.0000,95.0000,10.0000,7.0000,False,False,False,False,False
2018-04-16 04:00:00,NaT,240.0000,2018-04-16,4.0000,200.0000,30.0000,30.0000,40.0000,92.0000,nan,...,59.0000,8.0000,95.0000,10.0000,7.0000,False,False,False,False,False
2018-04-16 05:00:00,NaT,240.0000,2018-04-16,5.0000,210.0000,30.0000,30.0000,40.0000,86.0000,nan,...,58.0000,6.0000,96.0000,10.0000,7.0000,False,False,False,False,False
2018-04-16 06:00:00,NaT,240.0000,2018-04-16,6.0000,220.0000,30.0000,30.0000,50.0000,103.0000,70.0000,...,59.0000,4.0000,92.0000,10.0000,7.0000,False,False,False,False,False
2018-04-16 07:00:00,NaT,240.0000,2018-04-16,7.0000,240.0000,50.0000,50.0000,80.0000,106.0000,nan,...,63.0000,8.0000,87.0000,nan,5.0000,False,False,False,False,False
2018-04-16 08:00:00,NaT,240.0000,2018-04-16,8.0000,230.0000,50.0000,50.0000,80.0000,124.0000,nan,...,68.0000,8.0000,78.0000,nan,5.0000,False,False,False,False,False
2018-04-16 09:00:00,NaT,240.0000,2018-04-16,9.0000,250.0000,60.0000,70.0000,90.0000,134.0000,nan,...,70.0000,8.0000,68.0000,nan,5.0000,False,False,False,False,False
2018-04-16 10:00:00,NaT,240.0000,2018-04-16,10.0000,240.0000,70.0000,60.0000,100.0000,136.0000,nan,...,67.0000,4.0000,68.0000,nan,5.0000,False,False,False,False,False
2018-04-16 11:00:00,NaT,240.0000,2018-04-16,11.0000,260.0000,70.0000,70.0000,100.0000,138.0000,nan,...,67.0000,8.0000,68.0000,nan,5.0000,False,False,False,False,False
2018-04-16 12:00:00,NaT,240.0000,2018-04-16,12.0000,240.0000,70.0000,70.0000,110.0000,141.0000,97.0000,...,65.0000,1.0000,67.0000,nan,7.0000,False,False,False,False,False
2018-04-16 13:00:00,NaT,240.0000,2018-04-16,13.0000,250.0000,70.0000,70.0000,120.0000,139.0000,nan,...,73.0000,4.0000,66.0000,nan,5.0000,False,False,False,False,False
2018-04-16 14:00:00,NaT,240.0000,2018-04-16,14.0000,250.0000,80.0000,70.0000,110.0000,144.0000,nan,...,69.0000,0.0000,61.0000,nan,5.0000,False,False,False,False,False
2018-04-16 15:00:00,NaT,240.0000,2018-04-16,15.0000,260.0000,80.0000,70.0000,120.0000,141.0000,nan,...,74.0000,0.0000,60.0000,nan,5.0000,False,False,False,False,False
2018-04-16 16:00:00,NaT,240.0000,2018-04-16,16.0000,240.0000,70.0000,70.0000,100.0000,133.0000,nan,...,72.0000,0.0000,60.0000,nan,5.0000,False,False,False,False,False
2018-04-16 17:00:00,NaT,240.0000,2018-04-16,17.0000,260.0000,60.0000,50.0000,90.0000,129.0000,nan,...,77.0000,0.0000,62.0000,nan,5.0000,False,False,False,False,False
2018-04-16 18:00:00,NaT,240.0000,2018-04-16,18.0000,250.0000,50.0000,60.0000,80.0000,117.0000,111.0000,...,74.0000,0.0000,64.0000,nan,7.0000,False,False,False,False,False
2018-04-16 19:00:00,NaT,240.0000,2018-04-16,19.0000,230.0000,50.0000,50.0000,80.0000,108.0000,nan,...,79.0000,0.0000,61.0000,nan,5.0000,False,False,False,False,False
2018-04-16 20:00:00,NaT,240.0000,2018-04-16,20.0000,220.0000,50.0000,40.0000,70.0000,91.0000,nan,...,77.0000,0.0000,69.0000,nan,5.0000,False,False,False,False,False
2018-04-16 21:00:00,NaT,240.0000,2018-04-16,21.0000,210.0000,40.0000,30.0000,60.0000,75.0000,nan,...,75.0000,0.0000,73.0000,nan,5.0000,False,False,False,False,False
2018-04-16 22:00:00,NaT,240.0000,2018-04-16,22.0000,160.0000,30.0000,20.0000,40.0000,72.0000,nan,...,75.0000,0.0000,75.0000,nan,5.0000,False,False,False,False,False
2018-04-16 23:00:00,NaT,240.0000,2018-04-16,23.0000,180.0000,30.0000,20.0000,40.0000,58.0000,nan,...,70.0000,2.0000,81.0000,nan,5.0000,False,False,False,False,False
2018-04-17 00:00:00,NaT,240.0000,2018-04-16,24.0000,170.0000,20.0000,30.0000,40.0000,60.0000,24.0000,...,70.0000,0.0000,83.0000,nan,7.0000,False,False,False,False,False

In [12]:
df_ong['count'] = df_ong.groupby('TDate')['datetime'].transform('count')

### Mist, Rain, Snow, Thunderstorm, Ice

In [13]:
#Impute missing data
values = {'M': False, 'R': False, 'S': False,'O': False, 'Y': False} # assume =False, when the info is not collected
df_ong.fillna(value=values)
df_ong[["M","R","S","O","Y"]]=df_ong[["M","R","S","O","Y"]].replace({ None:False})

In [14]:
#number of accidents when it rains
n=df_ong[df_ong['R']==True].count()[1]
num_acc_rain=df_ong["count"][df_ong['R']==True].sum()
#number of accidents when it does not rain (based on same number of samples)
num_acc_notrain=df_ong['count'][df_ong['R']==False].sample(n,random_state=42).sum()
print("accident freq. per sample when it rains: %.4f \naccident freq. per sample when it does not: %.4f" % (num_acc_rain/n,num_acc_notrain/n))

accident freq. per sample when it rains: 1.1350
accident freq. per sample when it does not: 0.6705

In [15]:
#number of accidents when it is misty
num_acc=df_ong["count"][df_ong['M']==True].sum()
n=df_ong[df_ong['M']==True].count()[1]
#number of accidents when it is not (based on same number of samples)
num_acc_not=df_ong["count"][df_ong['M']==False].sample(n,random_state=42).sum()
print("accident freq. per sample when it is misty: %.4f \naccident freq. per sample when it is not: %.4f" % (num_acc/n,num_acc_not/n))

accident freq. per sample when it is misty: 0.8361
accident freq. per sample when it is not: 0.7481

In [16]:
#number of accidents when it snows
num_acc=df_ong["count"][df_ong['S']==True].sum()
n=df_ong[df_ong['S']==True].count()[1]
#number of accidents when it does not (based on same number of samples)
num_acc_not=df_ong["count"][df_ong['S']==False].sample(n,random_state=42).sum()
print("accident freq per sample when it snows: %.4f \naccident freq per sample when it does not: %.4f" % (num_acc/n,num_acc_not/n))

accident freq per sample when it snows: 1.6524
accident freq per sample when it does not: 0.7426

In [17]:
#number of accidents when there is thunderstorm
num_acc=df_ong["count"][df_ong['O']==True].sum()
n=df_ong[df_ong['O']==True].count()[1]
#number of accidents when there is no thunderstorm(based on same number of samples)
num_acc_not=df_ong["count"][df_ong['O']==False].sample(n,random_state=42).sum()
print("accident/sample when there is thunderstrom: %.4f \naccident/sample when there is no thunderstrom: %.4f" % (num_acc/n,num_acc_not/n))

accident/sample when there is thunderstrom: 1.0447
accident/sample when there is no thunderstrom: 0.7204

In [18]:
#number of accidents when there the road is icy
num_acc=df_ong["count"][df_ong['Y']==True].sum()
n=df_ong[df_ong['Y']==True].count()[1]
#number of accidents when there is no ice(based on same number of samples)
num_acc_not=df_ong["count"][df_ong['Y']==False].sample(n,random_state=42).sum()
print("accident/sample when the road is icy: %.4f \naccident/sample when it is not icy: %.4f" % (num_acc/n,num_acc_not/n))

accident/sample when the road is icy: 1.7622
accident/sample when it is not icy: 0.7524

# Numerical Features

### wind speed
wind speed (in 0.1 m / s) averaged over the last 10 minutes of the last hour

In [19]:
print(df_ong["FF"].describe())
n_sample = 5000

count   62,978.0000
mean        49.7767
std         27.6279
min          0.0000
25%         30.0000
50%         50.0000
75%         70.0000
max        240.0000
Name: FF, dtype: float64

In [20]:
df_ong["count"][df_ong["FF"].between(0, 30)].sample(n_sample,random_state=42).sum()/n_sample

0.6316

In [21]:
df_ong["count"][df_ong["FF"].between(30.01, 50)].sample(n_sample,random_state=42).sum()/n_sample

0.7228

In [22]:
df_ong["count"][df_ong["FF"].between(50.01, 70)].sample(n_sample,random_state=42).sum()/n_sample

0.875

In [23]:
df_ong["count"][df_ong["FF"].between(70.01, 240)].sample(n_sample,random_state=42).sum()/n_sample

0.914

### Hoogste windstoot
Highest wind gust (at 0.1 m / s) over the past hour period;

In [24]:
df_ong['FX'][df_ong['FX'].notnull()].describe()

count   62,978.0000
mean        79.4603
std         40.5963
min          0.0000
25%         50.0000
50%         70.0000
75%        100.0000
max        340.0000
Name: FX, dtype: float64

In [25]:
q0=df_ong['FX'].describe()[3]
q25=df_ong['FX'].describe()[4]
q50=df_ong['FX'].describe()[5]
q75=df_ong['FX'].describe()[6]
q100=df_ong['FX'].describe()[7]
eps = 0.000001

In [26]:
df_ong["count"][df_ong["FX"].between(q0, q25)].sample(n_sample,random_state=42).sum()/n_sample

0.6316

In [27]:
df_ong["count"][df_ong["FX"].between(q25+eps, q50)].sample(n_sample,random_state=42).sum()/n_sample

0.6968

In [28]:
df_ong["count"][df_ong["FX"].between(q50+eps, q75)].sample(n_sample,random_state=42).sum()/n_sample

0.8708

In [29]:
df_ong["count"][df_ong["FX"].between(q75+eps, q100)].sample(n_sample,random_state=42).sum()/n_sample

0.9386

### Air pressure
Air pressure (in 0.1 hPa) reduced to sea level, during observation

In [30]:
df_ong['P'].describe()

count   62,978.0000
mean    10,150.3881
std        102.6918
min      9,687.0000
25%     10,090.0000
50%     10,157.0000
75%     10,220.0000
max     10,452.0000
Name: P, dtype: float64

In [31]:
q0=df_ong['P'].describe()[3]
q25=df_ong['P'].describe()[4]
q50=df_ong['P'].describe()[5]
q75=df_ong['P'].describe()[6]
q100=df_ong['P'].describe()[7]

In [32]:
df_ong["count"][df_ong["P"].between(q0, q25)].sample(n_sample,random_state=42).sum()/n_sample

0.8922

In [33]:
df_ong["count"][df_ong["P"].between(q25+eps, q50)].sample(n_sample,random_state=42).sum()/n_sample

0.6354

In [34]:
df_ong["count"][df_ong["P"].between(q50+eps, q75)].sample(n_sample,random_state=42).sum()/n_sample

0.6256

In [35]:
df_ong["count"][df_ong["P"].between(q75+eps, q100)].sample(n_sample,random_state=42).sum()/n_sample

0.8808

### Horizontal view during observation
Horizontal view during observation (0 = less than 100m, 1 = 100-200m, 2 = 200-300m, ..., 49 = 4900-5000m, 50 = 5-6km, 56 = 6-7km, 57 = 7-8km, ..., 79 = 29-30km, 80 = 30-35km, 81 = 35-40km, ..., 89 = more than 70km);

In [36]:
df_ong['VV'][df_ong['VV'].notnull()].describe()

count   62,972.0000
mean        64.3290
std         14.7892
min          0.0000
25%         60.0000
50%         67.0000
75%         75.0000
max         83.0000
Name: VV, dtype: float64

In [37]:
q0=df_ong['VV'].describe()[3]
q25=df_ong['VV'].describe()[4]
q50=df_ong['VV'].describe()[5]
q75=df_ong['VV'].describe()[6]
q100=df_ong['VV'].describe()[7]

In [38]:
df_ong["count"][df_ong["VV"].between(q0, 10.0)].sample(996,random_state=42).sum()/996

1.1154618473895583

In [39]:
df_ong["count"][df_ong["VV"].between(q0, q25)].sample(n_sample,random_state=42).sum()/n_sample

0.8948

In [40]:
df_ong["count"][df_ong["VV"].between(q25+eps, q50)].sample(n_sample,random_state=42).sum()/n_sample

0.785

In [41]:
df_ong["count"][df_ong["VV"].between(q50+eps, q75)].sample(n_sample,random_state=42).sum()/n_sample

0.661

In [42]:
df_ong["count"][df_ong["VV"].between(q75+eps, q100)].sample(n_sample,random_state=42).sum()/n_sample

0.7138

### cloud cover
cloud cover (upper air cover in eighth), during observation (9 = upper air invisible);

In [43]:
df_ong['N'].describe()

count   62,972.0000
mean         5.6419
std          3.2551
min          0.0000
25%          2.0000
50%          8.0000
75%          8.0000
max          9.0000
Name: N, dtype: float64

In [44]:
q0=df_ong['N'].describe()[3]
q25=df_ong['N'].describe()[4]
q50=df_ong['N'].describe()[5]
q75=df_ong['N'].describe()[6]
q100=df_ong['N'].describe()[7]

In [45]:
df_ong["count"][df_ong["N"].between(q0, q25)].sample(487,random_state=42).sum()/487

0.6016427104722792

In [46]:
df_ong["count"][df_ong["N"].between(q25+eps, q50)].sample(487,random_state=42).sum()/487

0.917864476386037

In [47]:
df_ong["count"][df_ong["N"].between(q50, q75)].sample(487,random_state=42).sum()/487#=8

0.9055441478439425

In [48]:
df_ong["count"][df_ong["N"].between(q75+eps, q100)].sample(487,random_state=42).sum()/487

0.9404517453798767

### Relative humidity
Relative humidity (in percentages) at 1.50 m altitude during observation

In [49]:
df_ong['U'][df_ong['U'].notnull()].describe()

count   62,978.0000
mean        80.8673
std         13.4668
min         22.0000
25%         72.0000
50%         84.0000
75%         92.0000
max        100.0000
Name: U, dtype: float64

In [50]:
q0=df_ong['U'].describe()[3]
q25=df_ong['U'].describe()[4]
q50=df_ong['U'].describe()[5]
q75=df_ong['U'].describe()[6]
q100=df_ong['U'].describe()[7]

In [51]:
df_ong["count"][df_ong["U"].between(q0, q25)].sample(n_sample,random_state=42).sum()/n_sample

0.7128

In [52]:
df_ong["count"][df_ong["U"].between(q25+eps, q50)].sample(n_sample,random_state=42).sum()/n_sample

0.6882

In [53]:
df_ong["count"][df_ong["U"].between(q50+eps, q75)].sample(n_sample,random_state=42).sum()/n_sample

0.761

In [54]:
df_ong["count"][df_ong["U"].between(q75+eps, q100)].sample(n_sample,random_state=42).sum()/n_sample

0.9088

### Temperature
Temperature (in 0.1 degrees Celsius) at 1.50 m altitude during observation

In [55]:
df_ong['T'][df_ong['T'].notnull()].describe()

count   62,978.0000
mean       104.9332
std         64.1871
min       -178.0000
25%         60.0000
50%        101.0000
75%        152.0000
max        333.0000
Name: T, dtype: float64

In [56]:
q0=df_ong['T'].describe()[3]
q25=df_ong['T'].describe()[4]
q50=df_ong['T'].describe()[5]
q75=df_ong['T'].describe()[6]
q100=df_ong['T'].describe()[7]

In [57]:
df_ong["count"][df_ong["T"].between(q0, q25)].sample(n_sample,random_state=42).sum()/n_sample

0.8788

In [58]:
df_ong["count"][df_ong["T"].between(q25+eps, q50)].sample(n_sample,random_state=42).sum()/n_sample

0.8342

In [59]:
df_ong["count"][df_ong["T"].between(q50+eps, q75)].sample(n_sample,random_state=42).sum()/n_sample

0.7186

In [60]:
df_ong["count"][df_ong["T"].between(q75+eps, q100)].sample(n_sample,random_state=42).sum()/n_sample

0.6266

### Minimum temperature
Minimum temperature (in 0.1 degrees Celsius) at 10 cm height in the last 6 hours;

In [61]:
df_ong['T10'].describe()

count   10,411.0000
mean        78.2424
std         64.8045
min       -215.0000
25%         34.0000
50%         77.0000
75%        126.0000
max        303.0000
Name: T10, dtype: float64

In [62]:
q0=df_ong['T10'].describe()[3]
q25=df_ong['T10'].describe()[4]
q50=df_ong['T10'].describe()[5]
q75=df_ong['T10'].describe()[6]
q100=df_ong['T10'].describe()[7]
n_sample = 1000

In [63]:
df_ong["count"][df_ong["T10"].between(q0, q25)].sample(n_sample,random_state=42).sum()/n_sample

0.632

In [64]:
df_ong["count"][df_ong["T10"].between(q25+eps, q50)].sample(n_sample,random_state=42).sum()/n_sample

0.794

In [65]:
df_ong["count"][df_ong["T10"].between(q50+eps, q75)].sample(n_sample,random_state=42).sum()/n_sample

0.766

In [66]:
df_ong["count"][df_ong["T10"].between(q75+eps, q100)].sample(n_sample,random_state=42).sum()/n_sample

0.62

### Dew point Temp.
Dew point temperature (in 0.1 degrees Celsius) at 1.50 m altitude during observation;

In [67]:
df_ong['TD'][df_ong['TD'].notnull()].describe()

count   62,978.0000
mean        71.2377
std         56.9980
min       -192.0000
25%         32.0000
50%         72.0000
75%        115.0000
max        215.0000
Name: TD, dtype: float64

In [68]:
q0=df_ong['TD'].describe()[3]
q25=df_ong['TD'].describe()[4]
q50=df_ong['TD'].describe()[5]
q75=df_ong['TD'].describe()[6]
q100=df_ong['TD'].describe()[7]

In [69]:
df_ong["count"][df_ong["TD"].between(q0, q25)].sample(n_sample,random_state=42).sum()/n_sample

0.826

In [70]:
df_ong["count"][df_ong["TD"].between(q25+eps, q50)].sample(n_sample,random_state=42).sum()/n_sample

0.852

In [71]:
df_ong["count"][df_ong["TD"].between(q50+eps, q75)].sample(n_sample,random_state=42).sum()/n_sample

0.669

In [72]:
df_ong["count"][df_ong["TD"].between(q75+eps, q100)].sample(n_sample,random_state=42).sum()/n_sample

0.645

### Duration of sunshine
Duration of sunshine (in 0.1 hours) per hour section, calculated from global radiation (-1 for <0.05 hours)

In [73]:
df_ong['SQ'][df_ong['SQ'].notnull()].describe()

count   62,978.0000
mean         2.0976
std          3.5486
min          0.0000
25%          0.0000
50%          0.0000
75%          3.0000
max         10.0000
Name: SQ, dtype: float64

In [74]:
n_sample = 865
for i in range(11): #0....10
    print(i,
          '%.4f'% (df_ong["count"][df_ong["SQ"]==i].sample(n_sample,random_state=42).sum()/n_sample))

0 0.6809
1 0.6902
2 0.8266
3 0.9087
4 0.7780
5 1.0301
6 0.7040
7 0.8555
8 0.8277
9 0.6266
10 0.8520

### Global radiation 
Global radiation (in J / cm^2) per hour section

In [75]:
df_ong['Q'][df_ong['Q'].notnull()].describe()

count   62,978.0000
mean        43.0579
std         69.3988
min          0.0000
25%          0.0000
50%          3.0000
75%         61.0000
max        374.0000
Name: Q, dtype: float64

In [76]:
q0=df_ong['Q'].describe()[3]
q25=df_ong['Q'].describe()[4]
q50=df_ong['Q'].describe()[5]
q75=df_ong['Q'].describe()[6]
q100=df_ong['Q'].describe()[7]

In [77]:
df_ong["count"][df_ong["Q"].between(q0, q25)].sample(n_sample,random_state=42).sum()/n_sample

0.6138728323699422

In [78]:
df_ong["count"][df_ong["Q"].between(q25+eps, q50)].sample(n_sample,random_state=42).sum()/n_sample

1.0936416184971098

In [79]:
df_ong["count"][df_ong["Q"].between(q50+eps, q75)].sample(n_sample,random_state=42).sum()/n_sample

1.023121387283237

In [80]:
df_ong["count"][df_ong["Q"].between(q75+eps, q100)].sample(n_sample,random_state=42).sum()/n_sample

0.7479768786127168

### Duration of precipitation
Duration of precipitation (in 0.1 hour) per hour section

In [81]:
df_ong['DR'][df_ong['DR'].notnull()].describe()

count   62,978.0000
mean         0.8301
std          2.3912
min          0.0000
25%          0.0000
50%          0.0000
75%          0.0000
max         10.0000
Name: DR, dtype: float64

In [82]:
n_sample = 575
for i in range(11): #0....10
    print(i,
          '%.4f'% (df_ong["count"][df_ong["DR"]==i].sample(n_sample,random_state=42).sum()/n_sample))

0 0.6783
1 0.9130
2 1.2191
3 1.1130
4 1.2852
5 1.1530
6 1.3391
7 1.0852
8 1.1774
9 1.2678
10 1.6000

### Hourly of precipitation
Hourly of precipitation (in 0.1 mm) (-1 for <0.05 mm)

In [83]:
df_ong['RH'][df_ong['RH'].notnull()].describe()

count   62,978.0000
mean         1.0253
std          5.4766
min         -1.0000
25%          0.0000
50%          0.0000
75%          0.0000
max        215.0000
Name: RH, dtype: float64

In [84]:
rh_mean=df_ong['RH'].describe()[1]
rh_sd=df_ong['RH'].describe()[2]
q0=df_ong['RH'].describe()[3]
q25=df_ong['RH'].describe()[4]
q50=df_ong['RH'].describe()[5]
q75=df_ong['RH'].describe()[6]
q100=df_ong['RH'].describe()[7]

In [85]:
df_ong["count"][df_ong["RH"]==-1].sample(n_sample,random_state=42).sum()/n_sample

1.0591304347826087

In [86]:
df_ong["count"][df_ong["RH"]==0.0].sample(n_sample,random_state=42).sum()/n_sample

0.7304347826086957

In [87]:
#-1 --> mean
n=df_ong["count"][df_ong["RH"].between(-1, rh_mean)].count()
print(df_ong["count"][df_ong["RH"].between(-1, rh_mean)].sum()/n)

0.7145619013834693

In [88]:
# mean --> mean+SD
n=df_ong["count"][df_ong["RH"].between(rh_mean, rh_mean+rh_sd)].count()
print(df_ong["count"][df_ong["RH"].between(rh_mean, rh_mean+rh_sd)].sum()/n)

1.156044584166905

In [89]:
# mean+SD --> mean+2SD
n=df_ong["count"][df_ong["RH"].between(rh_mean+1*rh_sd, rh_mean+2*rh_sd)].count()
print(df_ong["count"][df_ong["RH"].between(rh_mean+1*rh_sd, rh_mean+2*rh_sd)].sum()/n)

1.3109619686800895

In [90]:
# mean+2SD --> mean+3SD
n=df_ong["count"][df_ong["RH"].between(rh_mean+2*rh_sd, rh_mean+3*rh_sd)].count()
print(df_ong["count"][df_ong["RH"].between(rh_mean+2*rh_sd, rh_mean+3*rh_sd)].sum()/n)

1.2664872139973082

In [91]:
# mean+3SD --> mean+4SD
n=df_ong["count"][df_ong["RH"].between(rh_mean+3*rh_sd, rh_mean+4*rh_sd)].count()
print(df_ong["count"][df_ong["RH"].between(rh_mean+3*rh_sd, rh_mean+4*rh_sd)].sum()/n)

1.5697329376854599

In [92]:
# mean+4SD --> max
n=df_ong["count"][df_ong["RH"].between(rh_mean+4*rh_sd,215.0)].count()
print(df_ong["count"][df_ong["RH"].between(rh_mean+4*rh_sd,215.0)].sum()/n)

1.7625368731563422